body
{
    background-image: url('../../assets/canyon.jpg');
    background-size: 2050px 1150px;
}
#Wrapper
{
    text-align: center;
}
#Main
{
    border-radius: 15px;
    vertical-align: top;
    background-color: white;
    height: 68%;
    width: 26%;
    padding: 25px;
    margin-top: 8%;
    margin-right: 10%;
    display: inline-block;
}

#Button_Panel
{
    vertical-align: top;
    height: 25%;
    width: 12%;
    margin-top: 8%;
    display: inline-block;
}

#ABT_Button, #TVL_Button, #RPS_Button
{
    border-radius: 10px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: 700;
    font-size: large;
    color: white;
    background-color: #5ACFC2;
    text-align: center;
    line-height: 45px;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    display: inline-block;
}

#Main_text_box
{
    color: rgb(85, 83, 83); 
    font-weight: 100;
    font-size: small;
    font-family: FreeMono, monospace;
    height: 35%;
    width: 97.5%;
    padding: 5px;
    padding-top: 10px;
}

h1
{
    font-family: Impact, Charcoal, sans-serif;
    font-size: xx-large;
    letter-spacing: 3px;
    color:  rgb(13, 21, 129);
    text-align: left;
    margin: 0px;
    display: inline;
}

#Name
{
    color: #5ACFC2;
    text-align: left;
    width: 0px;
}

#Bottom_text_box
{
    height: 9%;
    width: 97.5%;
    padding: 5px;
}
#Line_separator
{
    border-top: 2px solid black;
    width: 97.5%;
    padding: 5px;
}
#about_me_img
{
    height: 350px;
    width: 350px;
}

.button
{
    background-color: #5ACFC2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#Pictures
{
    height: 150px;
    width: 100%;
    margin-top: 5px;
    font-size: 19px;

    display: grid;
    grid-template-columns: 1fr 1fr; /* set column sizes here */
    grid-template-rows: auto auto; /* we want two rows */
    column-gap: 0%;
    row-gap: 8%;

    grid-auto-flow: row; /* fill in by column, not row */
    justify-items: center;
}

#Game_results
{
    height: 150px;
    width: 100%;
    margin-top: 50px;
    font-size: 19px;

    display: grid;
    grid-template-columns: 1fr 1fr; /* set column sizes here */
    grid-template-rows: auto auto; /* we want two rows */
    column-gap: 0%;

    grid-auto-flow: row; /* fill in by column, not row */
}

#User_choice
{
    width:179px;
}
#_choice
{
    width:179px;
}
#User_score
{
    width:179px;
}
#System_score
{
    width:179px;
}

#ABT_Button:hover, #TVL_Button:hover, #RPS_Button:hover {background-color: rgb(13, 21, 129);}
#Rock:hover, #Paper:hover, #Scissors:hover {background-color: rgb(13, 21, 129);}

@media screen and (min-width: 360px) and (max-width: 640px)
{
    
    body
    {
        background-image: url('../../assets/canyon.jpg');
        background-size: 1050px 950px; 
    }
    #Main
    {
        display: block;
        background-color: white;
        height: 55%;
        width: 65%;
        padding: 50px;
        margin-right: 10%;
        margin-top: 0px;
    }
    #Button_Panel
    {
        display: block;
        height: 25%;
        width: 87%;
        column-count:2;
    }
    #Button
    {
        background-color: #5ACFC2;
        height: 50px;
        width: 95%;
        margin-bottom: 15px;
    }
}